.ipynb_checkpoints/
.~iu_bloomington_linkedIn__98030.twbr
.data/*
*.csv
src/.idea/workspace.xml
src/.vscode/settings.json
*.k
*.pyc
.~iu_bloomington_twitter__38576.twbr
data/processed_data/iu-bloomington/linkedIn/indiana-university-bl_linkedIn_data.xlsx
data/processed_data/iu-bloomington/twitter/indiana-university-bl_twitter_data.xlsx
data/processed_data/iu/linkedIn/iu_linkedIn_data.xlsx
data/processed_data/iu/twitter/iu_twitter_data.xlsx
data/processed_data/iupui/linkedIn/iupui_linkedIn_data.xlsx
data/processed_data/iupui/twitter/iupui_twitter_data.xlsx
data/raw_data/iu-bloomington/linkedIn/indiana-university-bloomington_followers_1561385501485.xls
data/raw_data/iu-bloomington/linkedIn/indiana-university-bloomington_updates_1561385436042.xls
data/raw_data/iu-bloomington/linkedIn/indiana-university-bloomington_visitors_1561385038284.xls
data/raw_data/iu/linkedIn/indiana-university_followers_1561051489044.xls
data/raw_data/iu/linkedIn/indiana-university_updates_1561051432130.xls
data/raw_data/iu/linkedIn/indiana-university_visitors_1561051385922.xls
data/raw_data/iupui/linkedIn/indiana-university_purdue-university-indianapolis_followers_1561050892268.xls
data/raw_data/iupui/linkedIn/indiana-university_purdue-university-indianapolis_updates_1561050859754.xls
data/raw_data/iupui/linkedIn/indiana-university_purdue-university-indianapolis_visitors_1561050398504.xls
